.background-clear {
  background: url(./img/clear-skies.jpg);
  background-position: 25% 25%;
  background-size: cover;
  font-size: larger;
}

.background-rain {
  background: url(./img/rainy.jpg);
  background-position: 20% 20%;
  background-size: cover;
  color: white;
  font-size: larger;
}

.background-cloud {
  background: url(./img/cloudy.jpg);
  background-position: 50% 20%;
  background-size: cover;
  font-size: larger;
}

.weather-cards {
  min-height: 200px;
}

img {
  height: 50px;
  width: 50px;
  padding: 1px;
  float: right;
}

span {
  text-transform: capitalize;
}

.recent-btn {
  text-transform: capitalize;
}
